.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content stretches the full viewport height */
  margin-top: 80px;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}
