/* Forgot Password Modal */
.forgot-password-modal {
  background-color: transparent !important; /* Xóa nền trắng bên ngoài */
  box-shadow: none; /* Xóa bóng bên ngoài */
}

/* Header */
.forgot-password-modal .ant-modal-header {
  color: #ffffff; /* Màu chữ trắng */
  border-radius: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.forgot-password-modal .ant-modal-title {
  font-size: 24px;
  color: #2be3ff;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Tạo bóng chữ */
}

/* Modal Content */
.forgot-password-modal .ant-modal-content {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.95); /* Nền mờ */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Bóng mượt */
}

/* Text */
.forgot-password-text {
  color: #0097d2;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
  font-weight: bolder;
}

/* Input Field */
.forgot-password-input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

.forgot-password-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Footer Buttons */
.forgot-password-cancel-button {
  background-color: #f5f5f5;
  color: #333;
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

.forgot-password-cancel-button:hover {
  background-color: #000000;
  color: #000;
}

.forgot-password-submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

.forgot-password-submit-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}



/* Hiệu ứng xuất hiện */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8); /* Bắt đầu với kích thước nhỏ hơn */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Kết thúc với kích thước ban đầu */
  }
}

/* Hiệu ứng biến mất */
.forgot-password-modal-exit {
  animation: fadeOut 0.5s ease; /* Hiệu ứng biến mất */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1); /* Bắt đầu từ kích thước ban đầu */
  }
  100% {
    opacity: 0;
    transform: scale(0.8); /* Biến mất và thu nhỏ */
  }
}